@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../../public/assets/fonts/FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@theme {
    /*Fonts*/
    --font-inter: 'Inter', sans-serif;
    --font-fira-code: 'Fira Code', monospace;
}

@theme .dark {
    /* Color scheme */
    --color-accent: #FF5A1F; /* Brand color */
    --color-dark: #2E3440; /* Main canvas */
    --color-surface: #3B4252; /* Cards, panes.*/
    --color-primary: #ECEFF4; /* Main text */
    --color-secondary: #D8DEE9; /* Hints, meta.*/
    --color-border: #434C5E; /* Subtle borders.*/
    --color-success: #A3BE8C;
    --color-warning: #EBCB8B;
    --color-danger: #BF616A;
}

@layer utilities {
    .drag {
        -webkit-app-region: drag;
    }

    .drag > * {
        -webkit-app-region: no-drag;
    }
}
